*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
p{
    width: 1080px;
    background-color: #ffffff;
    margin: auto;    
    font-size: 20px;
    text-align: justify;
}

.marcadorCima{
    width: 100%;
    height: 100px;
    background-color: black;
}

main{
    width: 1080px;
    background-color: #ffffff;
    margin: auto;    
}
#menu{
    margin-top: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
}

#menu a{
    box-sizing: border-box;
    color: #10eb08;
    font-size: 25px;
    text-align: right;
    margin: 20px;
}
#menu a:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
div#rodape{
    color: black;
    font-size: 25px;
    background-color: #10eb08;
    text-align: center;
    padding: 40px;
}